extends layout.pug

block content

  ul#content
    li#content-col-1
      br
      h1.title= title
      p.data instrumentation:#{" "}
        span.caps #{instrum} 
      p.data duration: #{duration}
      p.data= description
    li#content-col-2
      if video 
        iframe(width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL00ZKav_3htzX9Gj3mZIXVoHJda1q9h_5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)