extends layout.pug

block content
  ul#content
    li#content-col-1
      h1.title= title
      p.data instrumentation:#{" "}
        span.upper #{instrum} 
      if duration
        p.data duration: #{duration}
      if description
        p.data= description
      if tag 
        p.data= tag
      br
      ul.buttons
        if purchase
          li
            a.button.pbtn(href= purchase target="_blank") purchase 
        if audio
          li
            a.button.pbtn(href= audio target="_blank") listen
        if video
          li
            a.button.pbtn(href= video target="_blank") watch
    li#content-col-2
      if video 
        iframe(width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL00ZKav_3htzX9Gj3mZIXVoHJda1q9h_5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      else if img
        img(src= img).piece-img